<!-- User Password reset Area -->
<section class="registration-area">       
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="assets/img/Registration.png" alt="Registrration" class="img-fluid">                
            </div>
            <div class="col-lg-6 col-md-12">
                <h4 class="text-uppercase">Reset Password</h4>
                <div class="registration-from">  
                                   
                    <form ng-hide="reset.hide" name="regForm" ng-submit="reset.savePassword(regData,regForm.$valid,confirmed);" novalidate autocomplete="off" >
                        
                        <div class="form-group" ng-class="{'has-success':(!regForm.password.$pristine && regForm.password.$valid), 'has-error':(!regForm.password.$pristine && !regForm.password.$valid)|| 
                        (regForm.$submitted && !regForm.password.$valid)}">
                          <label for="exampleInputPassword1">Password</label>
                          <input ng-disabled='reset.disabled' type="password" class="form-control" name="password" required placeholder="Password" ng-model="firstpassword"
                          ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&_-])[A-Za-z\d@$!%*?&_-]{8,30}$/" ng-minlength="8" ng-maxlength="30">
                          <p class="text-muted" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) || (regForm.$submitted && regForm.password.$error.required)">This field is required!!!</p>
                            <ul class="text-muted" ng-show="(!regForm.password.$pristine && regForm.password.$error.pattern) || 
                            (!regForm.password.$pristine && regForm.password.$error.minlength) || (!regForm.password.$pristine && regForm.password.$error.maxlength)">
                                
                                <li>at least one uppercase letter, one lowercase letter</li>
                                <li>at least one number and one special character</li>
                                <li>Must be between 8 to 30 charater</li>
                            </ul>
                        </div>
                        <div class="form-group" ng-class="{'has-success': confirmed && !regForm.confirmPassword.$error.required, 'has-error': !confirmed && !regForm.confirmPassword.$error.required}">
                          <label for="exampleInputPassword1">Confirm Password</label>
                          <input ng-disabled='reset.disabled' type="password" class="form-control" name="confirmPassword" required placeholder="Confirm Password" ng-model="confirm" 
                          match="{{[firstpassword]}}" ng-change="reset.regData.password = confirm" match="{{[firstpassword]}}">
                          <p class="text-muted" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required!!!</p>
                          <p ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.password.$valid" >Password don't match</p> 
                        </div>
                        
                        <button ng-disabled='reset.disabled' type="submit" class="btn btn-primary">Reset</button>                        

                    </form>
                    <br/> 
                    
                    <div class="text-center" ng-show="reset.loading">
                        <i class="fas fa-spinner"></i>
                        <p>Loding.....</p>
                    </div>
                    <div class="row show-hide-message" ng-show="reset.successMsg">
                        <div class="alert alert-success">{{ reset.successMsg }}</div>
                    </div>
                    <div class="row show-hide-message" ng-show="reset.errorMsg">
                        <div class="alert alert-danger">{{ reset.errorMsg }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End User Registration Area -->