<!-- User Registration Area -->
<section class="login-area">
    <div class="container">
        <div class="row">            
            <div class="col-lg-6 col-md-12">
                
                <div class="login-from">
                    <h4 class="text-uppercase">Login to account</h4>

                    <form ng-submit='main.doLogin(loginData);'>                        
                        <div class="form-group">
                            <i class="fas fa-user"></i><label for="exampleInputPassword1">Username</label>
                            <input ng-disabled="main.disabled" type="text" class="form-control" name="username" placeholder="Enter User Name" ng-model="main.loginData.username">
                          </div>
                        <div class="form-group">
                            <i class="fas fa-key"></i><label for="exampleInputPassword1">Password</label>
                          <input ng-disabled="main.disabled" type="password" class="form-control" name="password" placeholder="Password" ng-model="main.loginData.password">
                        </div>
                        
                        <button ng-disabled="main.disabled" type="submit" class="btn btn-primary">Submit</button>
                        
                        <div class="resetButtonsDiv">
                            <a href="/resetpassword"><button ng-disabled="main.disabled" type="button" class="btn btn-info">Forget Password</button></a>
                            <a href="/resetusername"><button ng-disabled="main.disabled" type="button" class="btn btn-danger">Forget Username</button></a>

                        </div>
                        

                    </form>
                      <br/>
                    <div class="text-center" ng-show="register.loading">
                        <i class="fas fa-spinner"></i>
                        <p>Loding.....</p>
                    </div>
                    <div class="row show-hide-message" ng-show="main.successMsg">
                        <div class="alert alert-success">{{ main.successMsg }}</div>
                    </div>
                    <div class="row show-hide-message" ng-show="main.emailMsg">
                        <div class="alert alert-success">{{ main.emailMsg }}</div>
                    </div>
                    <div class="row show-hide-message" ng-show="main.errorMsg">
                        <div class="alert alert-danger">{{ main.errorMsg }}
                            <a ng-show="main.expired" href="#"><button ng-click="main.resendLink();" type="button" class="btn btn-success">Resend activation link</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <img src="assets/img/login.png" alt="Registration" class="img-fluid">
                
            </div>
        </div>
    </div>
</section>
<!-- End User Registration Area -->