<section class="profile-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="assets/img/profile.png" alt="Registrration" class="img-fluid">
                
            </div>
            <div class="col-lg-6 col-md-12">
                
                <div class="profile-detail">
                    <h4 class="text-uppercase">{{main.username}}'s Profile</h4>
                    <table class="table table-dark">
                        <thead>
                          <tr>                            
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{main.username}}</td>
                            <td>{{main.email}}</td>
                            <td>********</td>
                          </tr>                          
                        </tbody>
                      </table>
                    
                </div>
            </div>
        </div>
    </div>
</section>