<!-- User Management Area -->
<section class="management-area">
    <div class="container">
        <div class="row">            
            <div class="col-lg-8 col-md-12">
                
                
                <div class="management-form">
                    <h4 class="text-uppercase">User Management</h4>                  
                      <br/>
                    <div class="text-center" ng-show="management.loading">
                        <i class="fas fa-spinner"></i>
                        <p>Loding.....</p>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Results to display </span>
                                  </div>
                                 
                                <input type="text" class="form-control" ng-model="number">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" ng-click="management.showMore(number)" class="btn btn-primary">Apply Filter</button>
                            <button type="button" ng-click="management.showAll()" class="btn btn-warning">Show All</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="navbar-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="search" placeholder="Search for..." ng-model="searchKeyword">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" ng-click="management.search(searchKeyword, number);" class="btn btn-dark">Search</button>
                            <button type="button" ng-click="management.clear()" class="btn btn-dark">Clear</button>
                            <a href="/search">
                                <button type="button" class="btn btn-dark">Advance Search</button>
                            </a>
                        </div>
                    </div>
              
                    <div class="row" ng-show="serachFilter !== undefined">
                        <div class="col-lg-6" >
                            <p><strong>Total Result : </strong>
                                {{ (management.users | filter: serachFilter).length }}
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p><strong>Showing : </strong>
                                {{ (management.users | filter: serachFilter | limitTo: management.limit).length }}
                            </p>
                        </div>

                    </div>
                    <div class="row show-hide-message" ng-show="management.showMoreError">
                        <div class="alert alert-danger">{{ management.showMoreError }}</div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header bg-primary">
                            <strong>User Details</strong> 
                        </div>
                        <table class="table table-bordered"  >
                            <tr >
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                            <tr ng-repeat="person in management.users | filter: serachFilter | limitTo: management.limit">
                                <td>{{person.name}}</td>
                                <td>{{person.username}}</td>
                                <td>{{person.email}}</td>
                                <td>
                                    <a href="/edit/{{ person._id }}">
                                        <button type="button" ng-show="management.editAccess" class="btn btn-primary">Edit</button>                                        
                                    </a>
                                    
                                        <button type="button" ng-click="management.deleteUser(person.username)" ng-show="management.deleteAccess" class="btn btn-danger">Delete</button>
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row show-hide-message" ng-show="management.successMsg">
                        <div class="alert alert-success">{{ management.successMsg }}</div>
                    </div>
                    
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <img src="assets/img/login.png" alt="Registration" class="img-fluid">
                
            </div>
        </div>
    </div>
</section>
<!-- End User Registration Area -->